<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
  <title>717276</title>
  <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
  <meta property="og:type" content="website"/>
  <meta property="og:description" content=" 블로그입니다."/>
  <meta property="og:title" content="717276"/>
  <meta property="og:image" content="https://github.com/71727691/blogTest/blob/main/img/a341399c-494f-4a1b-9c03-8d566a3a4097.png?raw=true"/>
  <meta property="og:url" content="https://www.717276.net/"/>
  <meta property="og:site_name" content="717276"/>

  <!-- twitter -->
  <meta property="twitter:card" content="블로그입니다."/>
  <meta property="twitter:title" content="717276"/>
  <meta property="twitter:description" content=" 블로그입니다."/>
  <meta property="twitter:image" content="https://github.com/71727691/blogTest/blob/main/img/a341399c-494f-4a1b-9c03-8d566a3a4097.png?raw=true"/>
  <meta property="twitter:url" content="https://www.717276.net/"/>
  <meta property="twitter:creator" content="717276"/>

  <link rel="icon" href="/img/favicon-16x16.png"/>
  <link rel="apple-touch-icon" href="/img/favicon-16x16.png"/>
  <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!---->
  <!-- CSS RESET -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
  <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/mainCss.css?ver=1.1}"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/node_modules/wow.js/css/libs/animate.css}"/>
  <link rel="stylesheet" th:href="@{/css/about.css}"/>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  }
</style>

<body>

  <div class="my-box">
    신입 개발자 블로그 입니다.
  </div>



<section>

  <!--  js  -->
  <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/node_modules/wow.js/dist/wow.js}"></script>
  <script>new WOW().init()</script>
  <script th:src="@{/js/infinityScroll.js?ver=1.1}"></script>
</section>

</body>
</html>