<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
  <title>717276</title>

  <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="공부 내용을 기록하는 블로그입니다."/>
  <meta property="og:title" content="717276"/>
  <meta property="og:url" content="https://www.717276.store/"/>
  <meta property="og:site_name" content="717276"/>

  <!-- twitter -->
  <meta property="twitter:card" content="application/simple-message-summary"/>
  <meta property="twitter:title" content="717276"/>
  <meta property="twitter:description" content="공부 내용을 기록하는 블로그입니다."/>
  <meta property="twitter:url" content="https://www.717276.store/"/>
  <meta property="twitter:creator" content="717276"/>

  <link rel="icon" href="/img/favicon-16x16.png"/>
  <link rel="apple-touch-icon" href="/img/favicon-16x16.png"/>
  <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- CSS RESET -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
  <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/mainCss.css?ver=1.1}"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/node_modules/wow.js/css/libs/animate.css}"/>

</head>

<body>

<section>

  <div id="carouselForMain" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item mainItem" th:each="post,num : ${popularPosts}"
           th:classappend="${num.index} == 0 ? active">
        <a th:href="@{/post/view(postId=${post.getPostId()})}">
          <img th:src="${post.getThumbnailUrl() ?: '/img/default-img.jpg'}" class="w-100 vh-100 cover main-image" alt="...">
          <div class="card-img-overlay text-white text-center row justify-content-center align-content-center text-shadow">
            <h1 class="" th:text="${post.getPostTitle()}">첫번째 이미지</h1>
          </div>
        </a>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselForMain"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselForMain"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <div class="mt-5 pt-2 popular-card-section ">
    <div class="cards-container container p-0 ">
      <div class=" row g-0 row-cols-2 row-cols-md-3">
        <div class="col g-1 g-md-4" th:each="post,num : ${popularPosts}">
          <a th:href="@{/post/view(postId=${post.getPostId()})}">
            <div class=" card ratio ratio-1x1 popular-card "
                 th:style="|background-image: url(${#strings.isEmpty(post.getThumbnailUrl()) ? '/img/defaultThumbNail.png' : post.getThumbnailUrl()}); background-position: center; background-size: cover;|">
              <div class="card-description text-center">
                <small><small th:text="|작성일 : ${#temporals.format(post.getCreatedDate(), 'yyyy-MM-dd')}|"></small></small>
                <p class="text-truncate" th:text="${post.getPostTitle()}">타이틀</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="py-1 mt-5" style="color: rgb(212, 200, 184);">

  <div class="recent-cards mt-5 ms-4 me-4">

    <div class="cards-container container p-0" id="infiniteScrollBox">
      <h1 class="text-center">포스팅</h1>
      <hr>
      <!--     infinityScroll     -->
      <div id="nextPagination"></div>
    </div>
  </div>
  <!--  js  -->
  <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/node_modules/wow.js/dist/wow.js}"></script>
  <script>new WOW().init()</script>
  <script th:src="@{/js/infinityScroll.js?ver=1.1}"></script>
</section>

</body>
</html>